<template>
    <button class="btn-large btn-floating btn-add" @click="toggleModal('add')">
        <i class="material-icons">add_circle</i>
    </button>
</template>

<script>
export default {
  name: 'add-student',  
  methods:{    
    toggleModal(payload){
        this.$store.dispatch('toggleModal', payload)
    }  
  }
}
</script>

<style>
     
    .btn-add {
      background-color: var(--color-primary);
    }

    .btn-add:hover{
      background-color: var(--color-secondary);
    }
</style>


