<template>
    <button class="btn btn-floating red accent-2 btn-delete" @click="getStudent('delete', student)">
        <i class="material-icons">delete</i>
    </button>
</template>

<script>
export default {
  name: 'delete-student',
  props:['student'],  
  methods:{
    getStudent(action, payload) {          
        this.toggleModal(action)        
        this.$store.dispatch('activeStudent', payload)
    },
    toggleModal(payload){
        this.$store.dispatch('toggleModal', payload)
    },
  }
  
}
</script>

<style>
.btn-delete:hover{
    background-color: var(--color-secondary) !important;
    
}
</style>


