<template>
    <button class="btn btn-floating btn-edit" @click="getStudent('edit', student)">
        <i class="material-icons">edit</i>                
    </button>
</template>

<script>
export default {
  name: 'edit-student',
  props:['student'],
  methods:{
      getStudent(action, payload) {           
          this.toggleModal(action)          
          this.$store.dispatch('activeStudent', payload)
        },
      toggleModal(payload){
          this.$store.dispatch('toggleModal', payload)
      }      
  }
}
</script>

<style>
.btn-edit{
    background-color: var(--color-primary);
}
.btn-edit:hover{
    background-color: var(--color-secondary);
}
</style>


