<template>
    <transition name="fade">
        <p class="u-flexColumnCenter red accent-1 red-text text-darken-4" v-if="errorMessage">
            {{ errorMessage }}
            <i class="material-icons prefix">error</i>
        </p>
    </transition>
</template>

<script>
export default {
  name: 'error-message',
  computed:{
      errorMessage(){
          return this.$store.getters.getErrorMessage
      }
  }
}
</script>

<style>

</style>


