<template>
    <transition name="fade">
        <table class="responsive-table striped">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Web</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
            <tr v-for="student in vueStudents" :key="student['.key']">
                <td>{{student['.key']}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.web}}</td>
                <td>                    
                    <edit-student :student="student"></edit-student>
                </td>
                <td>                    
                    <delete-student :student="student"></delete-student>
                </td>
            </tr>
        </table>
    </transition>
</template>

<script>
    import editStudent from './editStudent.vue'
    import deleteStudent from './deleteStudent.vue'
export default {    
  name: 'list-student',
  props: ['vueStudents'],
  components:{
      'edit-student': editStudent,
      'delete-student': deleteStudent
  }
}
</script>

<style>

</style>


