<template>
<transition name="fade">
    <section :class="['ModalWindow', displayEditModal]" v-if="showEditModal">
        <div class="ModalWindow-container">
          <header class="ModalWindow-heading">
            <div class="row valign-wrapper">
              <div class="col s10">
                <h4 class="left">Editar Estudiante</h4>
              </div>
              <div class="col s2">
                <button class="btn btn-floating right btn-edit" @click="toggleModal('edit')">
                  <i class="material-icons">close</i>
                </button>
              </div>
            </div>
          </header>
          <form class="ModalWindow-content row" @submit.prevent="updateStudent">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input v-model="activeStudent.name" name="name" type="text" placeholder="Nombre" required>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input v-model="activeStudent.email" name="email" type="text" placeholder="Correo" required>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">web</i>
              <input v-model="activeStudent.web" name="web" type="text" placeholder="Web" required>
            </div>
            <div class="input-field col s12">
              <button class="btn-large btn-floating right btn-edit" type="submit">
                <i class="material-icons">save</i>
              </button>
              <input v-model="activeStudent['.key']" name="id" type="hidden" required>
            </div>
          </form>
        </div>
    </section>
</transition>
</template>

<script>
import {dbRef} from '../helpers/config'
export default {
    name: 'modal-edit',
        computed:{
            showEditModal(){            
                return (this.$store.getters.getShowEditModal)
            },
            displayEditModal(){
                return (this.showEditModal) ? 'u-show' : ''
            },
            activeStudent(){
                return (this.$store.getters.getActiveStudent)
            }
        },
    methods:{
        toggleModal(payload){
            this.$store.dispatch('toggleModal', payload)
        },
        updateStudent(e) {
          let formData = new FormData(e.target)

          dbRef.child(formData.get('id')).update({
            name: formData.get('name'),
            email: formData.get('email'),
            web: formData.get('web')
          })           
            .then( () => this.$store.dispatch('setMessages',
                {
                    name: 'editStudent',
                    value: false,
                    message:'Estudiante actualizado con éxito.'
                })
            )
            .catch( () => this.$store.dispatch('setMessages',
                {
                    name: 'editStudent',
                    value: true,
                    message: 'Error al tratar de actualizar estudiante.'
                })
            )

          e.target.reset()
          this.toggleModal('edit')
        }
    }
}
</script>

<style>
.btn-edit:hover{
    background-color: var(--color-secondary) !important;
    
}
</style>


