<template>
    <transition name="fade">
        <section :class="[ 'ModalWindow', displayAddModal ]" v-if="showAddModal">            
            <div class="ModalWindow-container">
                <header class="ModalWindow-heading">
                    <div class="row valign-wrapper">
                        <div class="col s10">
                            <h4 class="left">Agregar Estudiante</h4>
                        </div>
                        <div class="col s2">
                            <button class="btn btn-floating right" @click="toggleModal('add')">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                    </div>
                </header>
                <form class="ModalWindow-content row" @submit.prevent="createStudent">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input name="name" type="text" placeholder="Nombre" required>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input name="email" type="text" placeholder="Correo" required>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">web</i>
                        <input name="web" type="text" placeholder="Web" required>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn-large btn-floating right" type="submit">
                            <i class="material-icons">save</i>
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </transition>
</template>

<script>
import {store} from '../helpers/store'
import {dbRef} from '../helpers/config'
export default {
    name: 'modal-add',    
    computed:{
        showAddModal(){
            return this.$store.getters.getShowAddModal
        },
        displayAddModal(){            
            return (this.showAddModal) ? 'u-show' : ''
        }        
    },
    methods:{    
        toggleModal(payload){
            this.$store.dispatch('toggleModal', payload)
        },
        createStudent(e) {
          let formData = new FormData(e.target)

          dbRef.push({
            name: formData.get('name'),
            email: formData.get('email'),
            web: formData.get('web')
          })            
            .then( () => this.$store.dispatch('setMessages',
                {
                    name: 'addStudent',
                    value: false,
                    message:'Estudiante agregado con éxito.'
                })
            )
            .catch( () => this.$store.dispatch('setMessages',
                {
                    name: 'addStudent',
                    value: true,
                    message: 'Error al agregar estudiante.'
                })
            )

          e.target.reset()
          this.toggleModal('add')
        }
    }
}
</script>

<style>
.u-show {
      display: initial;
    }
</style>


