<template>
<transition name="fade">
    <section :class="['ModalWindow', displayDeleteModal]" v-if="showDeleteModal">
        <div class="ModalWindow-container">
          <header class="ModalWindow-heading">
            <div class="row valign-wrapper">
              <div class="col s10">
                <h4 class="left">Eliminar Estudiante</h4>
              </div>
              <div class="col s2">
                <button class="btn btn-floating right btn-delete" @click="toggleModal('delete')">
                  <i class="material-icons">close</i>
                </button>
              </div>
            </div>
          </header>
          <form class="ModalWindow-content row" @submit.prevent="deleteStudent">
            <div class="input-field col s12">
              <p class="flow-text center">¿Estás seguro de eliminar al estudiante:
                <b>{{activeStudent.name}}</b>.</p>
              <input v-model="activeStudent['.key']" name="id" type="hidden" required>
            </div>
            <div class="input-field col s4 offset-s4">
              <button class="btn-large btn-floating left btn-delete" type="submit">
                <i class="material-icons">check</i>
              </button>
              <button class="btn-large btn-floating right btn-delete" type="button" @click="toggleModal('delete')">
                <i class="material-icons">close</i>
              </button>
            </div>
          </form>
        </div>
      </section>
</transition>
</template>

<script>
import {dbRef} from '../helpers/config'
export default {
  name: 'modal-delete',
    computed:{
            showDeleteModal(){
                return this.$store.getters.getShowDeleteModal
            },
            displayDeleteModal(){            
                return (this.showDeleteModal) ? 'u-show' : ''
            },
            activeStudent(){
                return (this.$store.getters.getActiveStudent)
            }
    },
    methods:{
        toggleModal(payload){
            this.$store.dispatch('toggleModal', payload)
        },
        deleteStudent(e) {
          let formData = new FormData(e.target)
            
          dbRef.child(formData.get('id')).remove()            
            .then( () => this.$store.dispatch('setMessages',
                {
                    name: 'deleteStudent',
                    value: false,
                    message:'Estudiante eliminado con éxito.'
                })
            )
            .catch( () => this.$store.dispatch('setMessages',
                {
                    name: 'deleteStudent',
                    value: true,
                    message: 'Error al tratar de eliminar estudiante.'
                })
            )

          e.target.reset()

          this.toggleModal('delete')
        }
    }
}
</script>

<style>
.btn-delete:hover{
    background-color: var(--color-secondary) !important;
    
}
</style>


