<template>
    <transition name="fade">
        <p class="u-flexColumnCenter green accent-1 green-text text-darken-4" v-if="successMessage">
            {{ successMessage }}
            <i class="material-icons prefix">check_circle</i>
        </p>
    </transition>
</template>

<script>
export default {
  name: 'success-message',
  computed:{
      successMessage(){
          return this.$store.getters.getSuccessMessage
      }
  }
}
</script>

<style>

</style>