<template>
  <div id="app" class="container  center">              
      <section class="row valign-wrapper">
      <div class="col s10">
        <h3 class="left">Lista de estudiantes</h3>
      </div>
      <div class="col s2">
          <add-student></add-student>
      </div>
    </section>
    <hr>      
    <success-message></success-message>           
    <error-message></error-message>    
    <list-student :vueStudents="vueStudents"></list-student>    
    <modal-add></modal-add>
    <modal-edit></modal-edit>
    <modal-delete></modal-delete>    
  </div>
</template>

<script>

import firebase from 'firebase'
import {dbRef} from './helpers/config'
import addStudent from './components/addStudent.vue'
import editStudent from './components/editStudent.vue'
import deleteStudent from './components/deleteStudent.vue'
import listStudent from './components/listStudent.vue'
import modalAdd from './components/modalAdd.vue'
import modalDelete from './components/modalDelete.vue'
import modalEdit from './components/modalEdit.vue'
import successMessage from './components/successMessage.vue'
import errorMessage from './components/errorMessage.vue'

export default {
  name: 'app',
  components:{
    'add-student': addStudent,
    'edit-student': editStudent,
    'delete-student': deleteStudent,
    'list-student': listStudent,
    'modal-add': modalAdd,
    'modal-delete': modalDelete,
    'modal-edit': modalEdit,
    'success-message': successMessage,
    'error-message': errorMessage
  },
  data () {
    return {      
    }
  },
  firebase:{
        vueStudents: dbRef
    },
  computed:{        
        displayEditModal(){
            return (this.showEditModal) ? 'u-show' : ''
        },
        displayDeleteModal(){
            return (this.showDeleteModal) ? 'u-show' : ''
        }
    },
    methods:{
        toggleModal(action){
            switch (action) {
                case 'add':
                    this.showAddModal = !this.showAddModal
                    break;  
                case 'edit':
                    this.showEditModal = !this.showEditModal
                    break;
                case 'delete':
                    this.showDeleteModal = !this.showDeleteModal             
            }
        },
        setMessages(err, res){
            if(err){
                this.errorMessage = res
            }else{
                this.successMessage = res
            }

            setTimeout(() => {
                this.errorMessage = false
                this.successMessage = false
            }, 3000);
        },
        createStudent(data){
            let formData = new FormData(data.target)
            dbRef.push({
                name: formData.get('name'),
                email: formData.get('email'),
                web : formData.get('web')
            })
            .then( () => this.setMessages(false, 'Estudiante agregado con éxito.'))
            .catch( () => this.setMessages(true, 'Error al tratar de agregar estudiante.'))
            
            data.target.reset()
            this.toggleModal('add')
        },
        getStudent(action, student){
            this.toggleModal(action)
            this.activeStudent = student
        },
        updateStudent(student){
            let formData = new FormData(student.target)
            let updateStudent = formData.get('id')
            dbRef.child(updateStudent).update({
                name: formData.get('name'),
                email: formData.get('email'),
                web: formData.get('web')
            })
            .then( () => this.setMessages(false, 'Estudiante actualizado con éxito.'))
            .catch( () => this.setMessages(true, 'Error al tratar de actualizar estudiante.'))

            student.target.reset()
            this.toggleModal('edit')
        },
        deleteStudent(student){
            let formData = new FormData(student.target)
            let deleteStudent = formData.get('id')
            dbRef.child(deleteStudent).remove()
            .then( () => this.setMessages(false, 'Estudiante eliminado con éxito.'))
            .catch( () => this.setMessages(true, 'Error al tratar de eliminar estudiante.'))

            student.target.reset()
            this.toggleModal('delete')
        }
    }
}
</script>

<style>
:root {
      --color-primary: #41B883;
      --color-secondary: #35495E;
      --bg-color: #727F80;
    } 
    .ModalWindow {
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .25);
      display: none;
    }

    .ModalWindow-container {
      margin: 5vh auto 0;
      width: 60%;
      background-color: #FFF;
    }

    .ModalWindow-heading {
      padding: 0 1rem;
      background-color: var(--bg-color);
      color: #FFF;
    }

    .ModalWindow-content {
      padding: 1rem;
    }

    .u-flexColumnCenter {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .u-show {
      display: initial;
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity .5s
    }

    .fade-enter,
    .fade-leave-to {
      opacity: 0
    }
</style>
